.* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#bg {
	background-color: #F6C008;
}


#dragon {
	background-color: #F6C008
}


#lovely {
	margin-top: -10px;
}



/*columns*/

#row {
	display: flex;
	flex-wrap: wrap;
}

.col-6 {
	width: calc((100% / 12) * 6);
}

/*end of columns*/


#bruh {
	display: block;
	margin : 0 auto;
	text-align: center;
}

#name {
	border-radius:10px;
	border:1px solid grey;
}

#number {
	border-radius:10px;
	border:1px solid grey;
}

#email {
	border-radius:10px;
	border:1px solid grey;
}

#animal {
	border-radius:10px;
	border:1px solid grey;
}

#kind {
	border-radius:10px;
	border:1px solid grey;
}

#kind::placeholder {
	position: absolute;
	top:10px;
	left: 20px;
	right: 20px;
}
